set interfaces ge-0/0/0 unit 0 family inet address 10.0.2.254/24
set interfaces ge-0/0/1 unit 0 family inet address 10.0.3.254/24

set security zones security-zone untrust host-inbound-traffic system-services ping
set security zones security-zone untrust interfaces ge-0/0/0

set security zones security-zone trust host-inbound-traffic system-services all
set security zones security-zone trust interfaces ge-0/0/1

set security policies from-zone trust to-zone untrust policy DEFAULT match source-address any
set security policies from-zone trust to-zone untrust policy DEFAULT match destination-address any
set security policies from-zone trust to-zone untrust policy DEFAULT match application any
set security policies from-zone trust to-zone untrust policy DEFAULT then permit

set security nat source rule-set NAT_RULES from zone trust
set security nat source rule-set NAT_RULES to zone untrust
set security nat source rule-set NAT_RULES rule NAT_RULE_1 match source-address 0.0.0.0/0
set security nat source rule-set NAT_RULES rule NAT_RULE_1 match destination-address 0.0.0.0/0
set security nat source rule-set NAT_RULES rule NAT_RULE_1 then source-nat interface

set routing-instances aws instance-type virtual-router 
set routing-instances aws interface ge-0/0/0.0 
set routing-instances aws interface ge-0/0/1.0 
set routing-instances aws routing-options static route 0.0.0.0/0 next-hop 10.0.2.1

set system name-server 1.1.1.1